<% content_for :kaikei_header do %>
  <h1 class="text-xl font-semibold text-kaikei-text">取引の編集</h1>
  <%= link_to kaikei_analytics_path, class: "flex h-9 w-9 items-center justify-center rounded-full text-kaikei-text-muted" do %>
    <i class="fa-solid fa-xmark text-xl"></i>
  <% end %>
<% end %>

<%= render "form", transaction: @transaction, url: kaikei_transaction_path(@transaction), submit_label: "更新する" %>
